<%-include('common/nav')-%>
<html>
    <form method="post" action="">
    
        <h3>about</h3>
        <input type="text"  name="name"/>
        <button type="submit">login</button>
    </form>
    
</html>