<ul>
    <li><a href="/about">home</a></li>
    <li><a href="/home">about</a></li>
    <li><a href="/neha">search</a></li>

    
</ul>
//fghhjd67$hh password of mongodb trial database

//mongodb+srv://<username>:<password>@cluster0.0lb5m.mongodb.net/myFirstDatabase?retryWrites=true&w=majority